<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetAllServlet</servlet-name>
        <servlet-class>org.mypackage.controller.GetAllEmailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllContactsServlet</servlet-name>
        <servlet-class>org.mypackage.controller.GetAllContactsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactDetailsServlet</servlet-name>
        <servlet-class>org.mypackage.controller.ContactDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllServlet</servlet-name>
        <url-pattern>/GetAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllContactsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactDetailsServlet</servlet-name>
        <url-pattern>/ContactDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            contView.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
