<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ContactsRestFilter</filter-name>
        <filter-class>org.mypackage.filters.ContactsRestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ContactsRestFilter</filter-name>
        <url-pattern>/contacts/*</url-pattern>
    </filter-mapping>
    

    <!--    <error-page>
        <exception-type>org.mypackage.application.errors.MalformedIdentifierException</exception-type>
        <location>/appException</location>
    </error-page>
    <error-page>
        <exception-type>org.mypackage.dal.DalException</exception-type>
        <location>/appException</location>
    </error-page>
    <error-page>
        <exception-type>org.mypackage.application.errors.ResourceNotFoundException</exception-type>
        <location>/appException</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type >
        <location>/appException</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type >
        <location>/appException</location>
    </error-page>-->
    
    <!--     Generic approach -->
    
    
    <servlet>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>org.mypackage.view.ContactsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewContactServlet</servlet-name>
        <servlet-class>org.mypackage.view.NewContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyContactServlet</servlet-name>
        <servlet-class>org.mypackage.view.ModifyContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactServlet</servlet-name>
        <servlet-class>org.mypackage.view.DeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEmailServlet</servlet-name>
        <servlet-class>org.mypackage.view.NewEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmailServlet</servlet-name>
        <servlet-class>org.mypackage.view.DeleteEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>org.mypackage.view.AppExceptionHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/contacts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewContactServlet</servlet-name>
        <url-pattern>/newContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyContactServlet</servlet-name>
        <url-pattern>/modifyContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/deleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEmailServlet</servlet-name>
        <url-pattern>/addEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmailServlet</servlet-name>
        <url-pattern>/deleteEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/appException</url-pattern>
    </servlet-mapping>
    
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/appException</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            contacts
        </welcome-file>
    </welcome-file-list>
</web-app>
